* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.chatGlobal {
  width: 75vw;
  min-height: 700px;
  /* max-height: 100vh; */
  margin: 20px auto;
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 25px;
  box-shadow: 0 30px 70px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
}
.nav {
  height: 50px;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.return {
  width: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.return i {
  width: 20px;
  margin-left: 10px;
}
.return p {
  margin-bottom: 1px;
}
.groupName {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}
.groupSettings {
  width: 100px;
  display: flex;
  justify-content: center;
}

/*---------conversation-----------------*/
.conversation {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.talk {
  margin: 20px 0;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  max-width: 50%;
  font-size: 1.1rem;
  border-radius: 20px;
}
.talk img {
  width: 50px;
  border-radius: 50%;
  margin-bottom: auto;
}
.talk p {
  padding: 15x;
  border-radius: 20px;
  line-height: 25px;
}
.right {
  margin-left: auto;
}
.right p {
  margin-right: 10px;
  padding: 10px;
  background: rgb(93, 93, 218);
}
.left {
  margin-left: 10px;
}
.left p {
  padding: 10px;
  background: rgb(216, 216, 216);
  color: black;
  margin-left: 10px;
}

/*--------------Form----------------------*/

.chatForm {
  width: 100%;
  height: 90px;

  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.groupText {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.groupText i {
  width: 30px;
}
.groupText textarea {
  resize: none;
  border: none;
  outline: none;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 16px;
  width: 100%;
  height: 40px;
}
.proposition {
  padding-left: 10px;
  display: block;
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  background: white;
  display: flex;
  width: 90%;
  height: 60px;
  border-radius: 9999px;
}
