* {
  font-family: "Lato", sans-serif;
}
body {
  background-color: white;
}
h1 {
  text-align: center;
  font-weight: bold;
}
.formConnexion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalContainer {
  background-color: white;
  border-radius: 20px;
  margin: 50px auto;
  padding: 30px 10px;
  width: 50%;
  height: auto;
}

.email input,
.password input,
.name input {
  width: 100%;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

.email,
.password {
  display: flex;
  margin-top: 5px;
  gap: 10px;
  padding: 5px;
}

.connexion {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.connexion button {
  width: 70%;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
.connexion button:hover {
  transform: scale(1.1);
}
.btnLogin {
  background-color: #226a54;
  color: white;
  border: none;
}
.btnAccount {
  background-color: white;
  color: #226a54;
  border: 3px solid #226a54;
}
.rememberMe {
  display: flex;
  gap: 15px;
  margin-left: 5px;
}
i {
  margin-top: 5px;
  color: rgb(54, 54, 54);
}
.forgotPassword {
  text-align: right;
  margin: -5px 9px 10px 0px;
  font-size: 0.8rem;
}
.forgotPassword a {
  color: black;
}

/*error*/
.error {
  font-size: 0.7rem;
  color: red;
  margin-left: 30px;
  margin-bottom: 10px;
}
