/*profile part*/

.logout a {
  text-align: end;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: 2px solid black;
  padding: 5px;
}
.welcomeMessage {
  text-align: center;
  padding: 10px;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.profileInfos {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid black;
  padding: 15px;
  width: 60%;
  margin: auto;
  text-align: center;
  background: whitesmoke;
}

.profil button {
  background-color: rgb(31, 117, 183);
  color: white;
  width: auto;
  padding: 10px;
  margin: 10px auto 0px;
  border-radius: 40px;
}
.accountBtn {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;

  margin: 15px;
}
.accountBtn button {
  background: rgb(217, 0, 0);
}
.accountBtn :nth-child(1) {
  background: rgb(31, 117, 183);
}
/*modal delete account*/
.modal-container {
  box-shadow: 0 0 5px 1px #00000088;
  position: relative;
  width: 60%;
  margin: auto;
  display: none;
}
.modal-container button {
  background: black;
  padding: 5px 9px;
  position: absolute;
  top: 2%;
  right: 5%;
}
.modal-content p {
  text-align: center;
  padding-top: 20px;
  font-size: 1.3rem;
}
#deleteConfirm {
  padding: 10px;
  background: rgb(217, 0, 0);
  border-radius: 30px;
  cursor: pointer;
}

.profil form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px auto;
  padding: 20px 0;
}
.profil form input[type="submit"] {
  border: none;
  background-color: rgb(31, 117, 183);
  color: white;
}
.profil label {
  margin: auto;
}

.updateUser {
  display: none;

  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.updateUser form {
  width: 300px;
  margin: auto;
}

/*planning part*/

.planning {
  padding: 20px;
  margin: auto;
  min-height: 50vh;
}
.planning h2 {
  margin: 20px;
}
.planning a i {
  color: white;
  background-color: rgb(31, 117, 183);
  border-radius: 100px;
  padding: 8px;
}
.planning a i {
  margin-top: 20px;
}
.planning table {
  width: 90%;
  margin: auto;
}
.planning form button {
  margin-right: 5px;
}
.actions button {
  background-color: rgb(217, 0, 0);
}
table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
  background: rgb(116, 214, 116);
}
@media screen and (max-width: 450px) {
  .planning td {
    padding: 2px;
  }
}
