#registerForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding: 20px;
  text-align: center;
}

#registerForm input:not([type="submit"]) {
  border: none;
  border-bottom: 1px solid #000;
  margin: 10px 0 10px 0;
}

#registerForm input[type="submit"] {
  padding: 5px;
  width: 50%;
  margin: auto;
  margin-top: 10px;
}
