.searchBar form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 15px;
  gap: 30px;
  margin: 50px auto;

  box-shadow: 0px 0px 10px 2px #00000059;
  border-radius: 40px;
  width: 60vw;
}
.searchBar input[type="search"] {
  padding: 5px;
  width: 30%;
  border-radius: 5px;
  border: none;
  border: 1px solid gray;
}
.searchBar input[type="submit"] {
  border: none;
  background: rgb(10, 10, 10);
  color: white;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 12px;
  transition: 0.2s ease-in-out;
}
.searchBar input[type="submit"]:hover {
  transform: scale(1.05);
}
.allSelect form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: rgb(243, 216, 168);
  height: auto;
  padding: 20px;
  margin: auto;
  width: 90%;
}

select {
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: transparent;
  width: 20%;
}

.allSelect input[type="submit"] {
  border: none;
  border-radius: 20px;
  width: 80px;
  padding: 8px;
  background-color: white;
  color: black;
  font-weight: bold;
}
.allSelect option {
  background-color: rgb(243, 216, 168);
}

button {
  background-color: transparent;
  border: none;
}
img {
  height: 30px;
}
ul li {
  list-style: none;
}
.suggestions {
  margin-top: 30px;
}
.suggestions h2 {
  margin: 60px 0 0 0;
}
.suggestions h2,
.suggestions h3 {
  text-align: start;
}
.bannerSuggestion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}
.cardSuggest {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 10px 10px 20px 10px;
  box-shadow: 0px 0px 5px 1px rgba(5, 5, 5, 0.318);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
  background: white;
  width: 250px;
  height: 290px;
  position: relative;
}

.cardSuggest a {
  border: none;
  text-decoration: none;
  background: rgb(8, 73, 238);
  color: white;
  font-weight: bold;
  font-size: 0.8rem;

  padding: 7px;
  margin: 10px;
  transition: 0.2s ease-in-out;
}

.cardSuggest a:hover {
  background-color: white;
  color: rgb(8, 73, 238);
  border: 2px solid rgb(8, 73, 238);
}
.cardSuggest img {
  height: 140px;
  width: 250px;
  margin-top: -10px;
}
.cardSuggest h3 {
  font-size: 1.1rem;
}
.cardSuggest p {
  font-size: 0.8rem;
}
.cardSuggest :nth-child(4) {
  font-weight: bold;
  margin-top: 10px;
}
#addToPlanning {
  background: white;
  border: 2px solid orangered;
  border-radius: 30px;
  margin: 10px;
  padding: 6px 8px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.cardSuggest #addToPlanning {
  position: absolute;
  top: 0;
  left: 81%;
}
#addToPlanning i {
  color: orangered;
  margin-top: 1px;
}
#addToPlanning:hover {
  background: orangered;
  scale: 1.05;
}
#addToPlanning:hover i {
  color: white;
}

@media screen and (max-width: 700px) {
  .labelSearch {
    display: none;
  }
}

/*reservation details style*/
.reservationDetails {
  margin: 65px 0;
}

.reservation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background: rgba(0, 132, 255, 0.293);
}

.imgReservation {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.reservation h2 {
  margin-bottom: 20px;
}
.imgReservation img {
  height: 250px;
}
.description {
  margin-top: 100px;
}

.description p {
  padding: 5px;
  margin: 10px auto;

  width: 50vw;
  text-align: justify;
}
.description span {
  font-weight: bold;
  font-size: 1.1rem;
}
.title-add {
  display: flex;
  justify-content: space-around;
}
.title-add h2 {
  margin-top: 10px;
}
.title-add #addToPlanning {
  padding: 10px 17px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
/*responsive reservation details*/
@media screen and (max-width: 900px) {
  .description {
    margin-top: 0;
    width: 100%;
  }
  .description p {
    width: 90%;
    padding: 0 20px;
  }
  .imgReservation img {
    height: 180px;
  }
}
/*form update - delete reservation style*/
.updateRes {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  border-radius: 20px;
  box-shadow: 0 0 6px 2px #0000006e;
  padding: 30px;
  margin: 30px auto;
  width: 75vw;
}
.updateRes .error,
.updateRes .success {
  margin: auto;
}
.updateRes h1 {
  font-size: 2.3rem;
}
.updateRes form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 70vw;
}
.updateRes label,
.updateRes input {
  text-align: center;
  width: 50vw;
  margin: auto;
}
.updateRes select {
  width: 50%;
  margin: auto;
}
.updateRes input[type="submit"] {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: rgb(53, 116, 243);
  color: white;
  margin-top: 10px;
}
.deleteForm input[type="submit"] {
  background: rgb(189, 12, 12);
}
.updateForm {
  display: flex;
}
